@font-face {
    font-family: "Gothic";
    src: url("fonts/GOTHIC.TTF");
}

body {
    font-family: "Gothic";
	background: rgb(11,57,84);
	background: -moz-linear-gradient(0deg, rgba(11,57,84,1) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-linear-gradient(0deg, rgba(11,57,84,1) 0%, rgba(0,0,0,1) 100%);
	background: linear-gradient(0deg, rgba(11,57,84,1) 0%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b3954",endColorstr="#000000",GradientType=1);
	color: white;
	
}
/* The navigation bar */
.navbar {
	overflow: hidden;
	background-color: black;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	padding: 5px;
	-webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.75);
}
  
/* Links inside the navbar */
.navbar a {
	float: right;
	display: block;
	color: white;
	padding: 10px;
	text-decoration: none;
	margin-right: 20px;
}
  
/* Change background on mouse-over */
.navbar a:hover {
	background:rgba(11,57,84,1);
	border-radius: 5px;
}
  
/* Main content */
.container-main {
	padding-top: 80px; /* Add a top margin to avoid content overlay */
	display: flex;
	flex-flow: column;
}

.header-name {
	text-align: center;
	font-size: 4rem;
	margin-bottom: -10px;
}

@media (max-width: 600px) {
	.header-name {
		font-size: 2rem;
	}
	.header-title {
		font-size: 1.25rem;
	}
}

.header-title {
	text-align: center;
	font-size: 1.5rem;
	font-style: italic;
	padding: 1rem;
}

.header-statement {
	text-align: center;
	padding: 1rem;
}

.header-tools {
	text-align: center;
	padding: 1rem;
	font-weight: bold;
}

.container-projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.header-projects {
	margin: 0px;
	padding: 1rem;
	text-align: center;
}

.project {
	color: black;
	border: 1px solid blue;
	background: rgb(190, 190, 190);
	padding: 0.5rem;
	margin: 0.5rem;
	display: flex;
	width: 200px;
	height: 200px;
}

.container-footer {
	color: white;
	text-align: center;
}

.container-footer a:visited {
	color: white;
	text-decoration: none;
}