/* * {
	font-family: Gothic, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	border: 1px solid red;
} */
@font-face {
    font-family: "Gothic";
    src: url("fonts/GOTHIC.TTF");
}

body {
    font-family: "Gothic";
}
/* The navigation bar */
.navbar {
	overflow: hidden;
	background-color: #333;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	font-family: Century Gothic, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  
/* Links inside the navbar */
.navbar a {
	float: right;
	display: block;
	color: white;
	padding: 15px 20px;
	text-decoration: none;
}
  
/* Change background on mouse-over */
.navbar a:hover {
	background: dodgerblue;
}
  
/* Main content */
.container-main {
	padding-top: 80px; /* Add a top margin to avoid content overlay */
	display: flex;
	flex-flow: column;
}

.header-name {
	text-align: center;
	font-size: 4rem;
	margin-bottom: -10px;
}

@media (max-width: 600px) {
	.header-name {
		font-size: 2rem;
	}
	.header-title {
		font-size: 1.25rem;
	}
}

.header-title {
	text-align: center;
	font-size: 1.5rem;
	font-style: italic;
	padding: 1rem;
}

.header-statement {
	text-align: center;
	padding: 1rem;
}

.header-tools {
	text-align: center;
	padding: 1rem;
	font-weight: bold;
}

.container-projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.header-projects {
	margin: 0px;
	padding: 1rem;
	text-align: center;
}

.project {
	border: 1px solid blue;
	background: rgb(190, 190, 190);
	padding: 0.5rem;
	margin: 0.5rem;
	display: flex;
	width: 200px;
	height: 200px;
}