@font-face {
    font-family: "Inter Regular";
    src: url("fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: "Inter Bold";
    src: url("fonts/Inter-Bold.ttf");
}

@font-face {
    font-family: "Inter Italic";
    src: url("fonts/Inter-Italic.ttf");
}

@font-face {
    font-family: "Signika Regular";
    src: url("fonts/Signika-Regular.ttf");
}

@font-face {
    font-family: "Signika Bold";
    src: url("fonts/Signika-Bold.ttf");
}

@font-face {
    font-family: "Signika Light";
    src: url("fonts/Signika-Light.ttf");
}

@font-face {
    font-family: "Signika Semibold";
    src: url("fonts/Signika-Semibold.ttf");
}

@font-face {
    font-family: "Gothic";
    src: url("fonts/GOTHIC.TTF");
}

@font-face {
    font-family: "Gothic Bold";
    src: url("fonts/GOTHICB.TTF");
}

body {
	font-family: 'Inter Regular', 'Signika Light', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: rgb(20, 20, 20);
	box-sizing: border-box;
}
/* The navigation bar */
.navbar {
	display: flex;
	flex-basis: auto;
	overflow: hidden;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	align-items: center;
	background: white;
}

.nav-logo {
	flex-grow: 1;
}

.nav-logo img {
	height: 45px;
	padding-top: 3px;
	padding-left: 10px;
}

.nav-links {
	flex-grow: 1;
	text-align: right;
	padding-right: 10px;
}

/* Links inside the navbar */
.nav-links a {
	color: rgb(20, 20, 20);
	padding: 10px;
	text-decoration: none;
}
  
/* Change background on mouse-over */
.nav-links a:hover {
	background:rgb(20, 20, 20);
	border-radius: 4px;
	color: white;
}


  
/* Main content */
.container-main {
	padding-top: 80px; /* Add a top margin to avoid content overlay */
	display: flex;
	flex-flow: column;
}

.header-name {
	text-align: center;
	font-size: 4rem;
	margin-bottom: -10px;
	font-family: 'Signika Bold';
}

@media (max-width: 600px) {
	.header-name {
		font-size: 2rem;
	}
	.header-title {
		font-size: 1.25rem;
	}
}

.header-title {
	text-align: center;
	font-size: 1.5rem;
	padding: 1rem;
	font-style: italic;
}

.header-statement {
	text-align: center;
	padding: 1rem;
	max-width: 800px;
	margin: auto;
}

.header-tools {
	text-align: center;
	padding: 1rem;
	max-width: 800px;
	margin: auto;
}

.container-projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.header-projects {
	margin: 0px;
	padding: 1rem;
	text-align: center;
}

.project {
	padding: 1rem;
	margin: 0.5rem;
	display: flex;
	width: 190px;
	height: 190px;
	border-radius: 4px;
	box-shadow: 0px 2px 4px rgb(197, 197, 197);
	text-align: center;
}

.project a {
	font-weight: bold;
	color: rgb(20, 20, 20);
	text-align: center;
	text-decoration: none;
}

.project a:hover {
	font-weight: bold;
	text-color: rgb(62, 5, 136);
	text-decoration: underline;
}

.project a:visited {
	color: rgb(20, 20, 20);
	text-decoration: none;
}

.container-footer {
	text-align: center;
	padding: 1rem;
}

.container-footer a {
	text-decoration: none;
}

.container-footer a:hover {
	font-weight: bold;
	color: rgb(20, 20, 20);
	text-decoration-line: underline;
}

.container-footer a:visited {
	color: rgb(20, 20, 20);
	text-decoration: none;
}